.about_right {
  width: 528px;
  text-align: left;
}
.about_welcome {
  opacity: 0.5;
  margin-bottom: 30px;
}
.about_name {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}
.about_desc {
  opacity: 0.5;
  margin-bottom: 102px;
}