.about__right {
  width: 528px;
  text-align: left;
}
.about__welcome {
  opacity: 0.5;
  margin-bottom: 30px;
}
.about__name {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}
.about__desc {
  opacity: 0.5;
  margin-bottom: 102px;
}
.about__desc-ps {
  font-style: italic;
}
