.bottom-section {
  background: center center / cover no-repeat;
  clip-path: polygon(50% 6.45%, 100% 0, 1000% 100%, 0 100%, 0 0);
  background-image: url('../images/content/bg_reviews.png');
  padding-top: 248px;

}