.header {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}
.header_menu {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}
.nav_item {
  &:hover {
    color: #5500f2;
    text-decoration: underline;
  }
}

