.header {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}
.header__menu {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}
.nav__item {
  height: 32px;
  &:hover {
    border-bottom: 3px solid #5500f2;
  }
}

