.hero {
  height: 100vh;
  min-height: 650px;
  color: #414c63;
}
.hero_container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.hero_content {
  flex: 1;
  justify-content: center;
  align-items: center;
}
.hero_bottom-buttons {
  display: flex;
  justify-content: center;
}


