.my_work-content {
  display: flex;
}
.slider {
  width: 975px;
  height: 549px;
  background-image: url('../images/content/bg_reviews.png');
  background: center center / cover no-repeat;
  color: black;
  padding-right: 155px;
}
.slider_logo {
  font-size: 18px;
}
.nav_link, .phone_number {
  font-size: 14px;
}
