.reviews_slider-buttons {
  display: flex;
}
.review_btn {
  width: 51px;
  height: 51px;
  border: #414c63 solid 1px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 33px;
}
.review_svg-right {
  width: 6px;
  height: 10px;
  transform: rotate(180deg);
}
.review_svg-left {
  width: 6px;
  height: 10px;
}