.reviews__slider--buttons {
  display: flex;
}
.review__btn {
  width: 51px;
  height: 51px;
  border: #414c63 solid 1px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 33px;
}
.review__btn--link {
  background: transparent;
  &:active {
    border: none;
  }
}
.review__svg--right {
  width: 6px;
  height: 10px;
  transform: rotate(180deg);
}
.review__svg--left {
  width: 6px;
  height: 10px;
}