.reviews_slider-list {
  display: flex;
}
.reviews_slider-items {
  &::before {
    content: '';
    background: url('../images/icons/quote.svg') no-repeat;
    display: block;
  }
}
.user_reviews {
  display: flex;
}
.quote {
  margin-bottom: 30px;
}
.user_avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user_review-img {
  height: 100%;
  width: 100%;
}