.socials {
  display: flex;
  align-items: center;
}
.socials_item {
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
}
.socials_link {
  width: 31px;
  height: 25px;
  display: block;
}
