.socials {
  display: flex;
  align-items: center;
}

.socials__item {
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
}
.socials__link {
  width: 31px;
  height: 25px;
  display: block;
}
.socials__icon {
  fill: #414c63;
  &:hover{
    fill: #5500f2;
  }
}

