.user {
  align-items: center;
}
.user_avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 74px;
}
.user_data-cell {
  opacity: 0.3;
  padding-right: 72px;
}
.user_data-string {
  width: 16px;
}