.user_skils-item {
  margin-bottom: 58px;
  //отступ 0 с ласт чайлд
}
.skills_row-title {
  margin-bottom: 44px;
}
.skills_item {
  margin-right: 47px;
}
.skill {
  width: 134px;
  height: 134px;
  fill: transparent;
  stroke: #ccc;
  stroke-width: 10px;
}
