.user {
  align-items: center;
}
.user__avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 74px;
}
.user__img {
  object-fit: cover;
  object-position: center;
}
.user__data--cell {
  opacity: 0.3;
  padding-right: 72px;
}
.user_data-string {
  width: 16px;
}