.user-skills {
  margin-left: 122px;
}

.user-skills__item {
  margin-bottom: 58px;
  &:last-child {
    margin-bottom: 0;
  }
}
.skills-row__title {
  margin-bottom: 44px;
}
.skills-row__item {
  margin-right: 47px;
}
.skill {
  width: 134px;
  height: 134px;
  fill: transparent;
  position: relative;
}
.skill__circle--inner {
  stroke: #ccc;
  stroke-width: 10px;
}
.skill__circle--under {
  stroke: url(#gradient);
  stroke-width: 20px;
  stroke-dasharray: 120 155;
}

