.values_text {
  &::before {
    content: '';
    background: url("../images/content/bag.png") no-repeat;
    width: 712px;
    height: 627px;
  }
}
.values_title {
  margin-bottom: 64px;
}
.values_description {
  opacity: 0.5;
  margin-bottom: 92px;
}
