script(type='text/x-template')#skills-list
  .values__widget--container
    pre {{skills}}
    ul.user-skills
      li.user-skills__item.skills-row(v-for='skill in skills' :key='skill.skillsGroup')
        skills-row(
          :skill="skill"
        )
        
script(type='text/x-template')#skills-row
  .skills-row
    h3.skills-row__title {{skill.skillsGroup}}
      ul.skills-row__list
        li.skills-row__item(v-for='(skillPercent. skillName' in skill.skills)
          skill(
            :skillName="skillName"
            :skillPercent="skillPercent"
          )
              
script(type='text/x-template')#skill
  .skill
    svg(viewBox="0 0 134 134" preserveAspectRatio="none").skill_shape
        circle(
          r="62" cx="67" cy="67"
        ).skill__circle--inner
        circle(
          r="62" cx="67" cy="67"
        ).skill__circle--under
        linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
          stop(offset="0%" stop-color="#5500f2")
          stop(offset="100%" stop-color="#8b00ef")
    .skill__title {{skillName}}